{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<div class="container">
  <p>
    This page will create an entry every time you visit.
    Check out <a href="{% url 'admin:index' %}">admin</a> too.
  </p>

  <ul>
      <li><a href="{% url 'error' %}">page that raises a 500 error</a></li>
      <li><a href="{% url 'index' %}">home with a function (creates a new greeting)</a></li>
      <li><a href="{% url 'index-cbv' %}">home with a class based view</a></li>
  </ul>

  <h2>Views</h2>

  <ul>
    {% for greeting in greetings %}
      <li>{{ greeting.when }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
