<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <form id="form-newjob" action="/form">
      <h1>Create a new job</h2>

      <label for="input-duration">Duration</label>
      <input id="input-duration" class="form-control" type="number" min="1" required autofocus>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="jobs">
</div>
