<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <form id="form-newpost" action="/form">
      <h1>Create a new post</h2>

      <label for="input-title" class="sr-only">Title</label>
      <input id="input-title" class="form-control" placeholder="Title" required autofocus>

      <label for="input-body" class="sr-only">Body</label>
      <textarea id="input-body"  class="form-control" rows="12" placeholder="Body" required></textarea>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="posts">
</div>
