bootstrap/* linguist-generated
config/* linguist-generated
database/* linguist-generated
html/* linguist-generated
public/* linguist-generated
resources/* linguist-generated
routes/* linguist-generated
.editorconfig linguist-generated
.env linguist-generated
.env.example linguist-generated
artisan linguist-generated
composer.json linguist-generated
composer.lock linguist-generated
package.json linguist-generated
server.php linguist-generated
webpack.mix.js linguist-generated
